.video-panel {
  width: 100%;
  height: 100%;
  position: relative;
  background: radial-gradient(circle at center, #0b3c5d, #020617);
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-placeholder {

  background: linear-gradient(180deg, #0f172a, #020617);
  position: relative;

      height: 100%;
    width: 100%;
}

.video-placeholder video{
  width: 100%;
   

}

.video-overlay {
  position: absolute;
      top: 44%;

  left: 50%;
  transform: translate(-50%,-50%);
  padding: 6px 10px;
  font-size: 20px;
  letter-spacing: 1px;
  color: #fff;
  z-index: 111;
  font-weight: 700;
}

.pointer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 111;
}

.pointer img{
  opacity: 0.3;
}

.video-panel .controls{
      position: absolute;
    bottom: 0;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    background-color: #000;
    border-top: 0;
    padding: 10px 0;
    z-index: 200;
}

.video-panel .controls .btn{
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

@media (max-width: 767px) {
  .video-overlay {
    font-size: 14px;
    padding: 4px 8px;
    top: 15%;
  }

  .pointer img {
    width: 60px; /* Scale down pointer image */
    height: auto;
  }
}

.crosshair {
  position: absolute;
  background: rgba(56, 189, 248, 0.6);
}

.crosshair.horizontal {
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
}

.crosshair.vertical {
  left: 50%;
  top: 0;
  width: 1px;
  height: 100%;
}
