.controls {
      display: flex;
    gap: 16px;
    align-items: start;
    padding: 20px;
    border-top: 1px solid #fff;
    flex-direction: column;
}

.controls h3{
    font-size: 18px;
    color: #fff;
    padding: 0 0 15px 0;
}

.controls .limit{
  width: 57%;
}

.controls .limit span{
    font-size: 18px;
    color: #fff;
}

.controls .limit .limit-controls{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 0 0 0;
}

.controls .limit .limit-controls button{
 width: 37px;
    height: 26px;
    background: #000;
    border: 1px solid #fff;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
       
}

.controls .limit .limit-controls strong{
    padding: 5px 0;
    font-size: 15px;
    border: 1px solid #fff;
    border-radius: 8px;
    width: 100%;
         text-align: center;
    color: #fff;
    font-weight: 100;

  }

.controls .btn {
width: 100%;
border: 8px;
padding: 10px;
}



.btn.primary {
  background: #38bdf8;
  color: #020617;
}

.btn.primary.active {
  background: #0ea5e9;
}

.btn.emergency {
  background: #ef4444;
  color: white;
  font-weight: bold;
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.limt{
  background-color: red;
}

.btn.pause {
  background: #565656;
  color: white;
}